<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1> CoronaVirus Tracker </h1>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
    </div>


    <p th:text="${testName}"></p>
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Total Cases Reported</th>
            </tr>
            <tr th:each="locationStat : ${locationStats}">
                <td th:text="${locationStat.state}"></td>
                <td th:text="${locationStat.country}"></td>
                <td th:text="${locationStat.latestTotalCases}"></td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>